@model DetailsWorkoutViewModel
@inject SignInManager<IdentityUser> SignInManager

@{ 
    ViewData["Title"] = "Workout Details";
}

<div class="jumbotron">
    <h1 class="display-4">@Model.Name</h1>
    <p class="lead">@Model.Description</p>
    @if (Model.CycleDays != null)
    {
        <p class="lead">You workout every @Model.CycleDays day/s.</p>
    }
    <hr class="my-4">
    <p>
        @foreach (var day in Model.WorkDays)
        {
            <h1 class="text-center">@day.Day</h1>
            <ul class="list-group mt-3">
                @foreach (var exercise in day.Exercises)
                {
                    <li class="list-group-item"><a href="/Exercises/Details/@exercise.Key">@exercise.Value</a></li>
                }
            </ul>
        }
    </p>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-primary btn-lg" href="/Workouts/Assign/@Model.Id" role="button">Make Active</a>
    }
    @if (Model.IsCreator)
    {
        <a class="btn btn-success btn-lg" href="/Workouts/Edit/@Model.Id" role="button">Edit</a>
    }
</div>
