@model LogWorkoutForUserServiceModel

@{
    ViewData["Title"] = "Log Workout";
    var userName = User.Identity.Name;
}

<partial name="_CalendarDetailPopup" />
<partial name="_ExercisesPopup" />

@if (!Model.HasWorkout)
{
    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">You haven't selected a workout. Consider <a href="/Workouts/All">Selecting one</a> or <a href="/Workouts/Add">Creating one</a></p>
        <hr class="my-4">
    </div>
}
else
{
    <div class="jumbotron">
        <h1 class="display-4">@Model.Name</h1>
        <hr class="my-4">
    </div>

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })


    if (Model.IsWorkdayComplete)
    {
        <p>You are done for today!</p>
    }
    else if (Model.DisplayExercises.Count != 0)
    {
        <div class="row">
            <form method="post" class="col-6">
                @foreach (var exercise in Model.DisplayExercises)
                {
                    <div>
                        <div class="row">
                            <label class="mb-2 mr-sm-2">@exercise.Value: </label>
                            <button type="button" class="add-set alert-success btn">Add set</button>
                        </div>
                        <div class="form-inline">
                            <div class="row set">
                                <input type="hidden" asp-for="ExerciseIds" value="@exercise.Key" />
                                <input type="text" value="1" disabled="disabled" class="form-control mb-2 mr-sm-2 col-1 set-num" />
                                <input type="number" asp-for="Repetitions" min="0" step="1" class="form-control mb-2 mr-sm-2" placeholder="Reps">
                                <input type="number" asp-for="Weight" min="0" step="1" class="form-control mb-2" placeholder="Weight">
                            </div>
                        </div>
                    </div>
                }

                <div class="row">
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
            </form>

            <div class="col-6 text-center">
                @foreach (var exercise in Model.LastWorkoutLogs)
                {
                    <h2>@exercise.Key</h2>
                    <ul class="list-group col-5 text-center">
                        @foreach (var log in exercise.Value.OrderBy(l => l.Set))
                        {
                            <li class="list-group-item">@(log.Set). @log.Repetitions reps. @(log.Weight.HasValue ? $"{log.Weight} kg" : "")</li>
                        }
                    </ul>
                }
            </div>
        </div>
    }
    else
    {
        <p>Today is rest day!</p>
        @if (Model.NextWorkout.HasValue)
        {
            <p>Your next workout is on @Model.NextWorkout.Value.ToString("dd/MM/yyyy")</p>
        }
        <a class="btn btn-dark small-button" asp-area="" asp-controller="Users" asp-action="MoveWorkoutToToday">Do your next workout today</a>
    }

    <div id='calendar'></div>
}

<div id="chat">
    <div id="chatLog"></div>

    <input id="chatInput" class="form-control" />
    <button id="chatButton" class="btn btn-dark small-button">Send</button>
</div>

@section Scripts {
    <script>
        var userName = '@userName';
    </script>
    <script type="module" src="~/js/chatHandler.js"></script>
    <script type="module" src="~/js/userLog.js"></script>

    <partial name="_ValidationScriptsPartial" />
}
